.welcome-homepage{
    color:black;
    text-align: left;
    margin-left: 20px;
    font-size: 24px;
}
.header-homepage{
    color: #FA02FF;
    font-size: 96px;
    margin: 0px;
}
.website-homepage{
    color:black;
    text-align: right;
    margin-right: 20px;
    margin-bottom: 0px;
    font-size: 24px;
}
.bottom-text{
    display: flex;
}
.left{
    width:30%;
    padding:10px;
    font-size: 18px;
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.left-header-homepage{
    color: #FA02FF;
    margin-top: 100px;
}
.merch-homepage{
    font-family: 'Ribeye', cursive;
    background-color: #01FF1A;
    color:#FA02FF;
    width:226px;
    height: 51px;
    font-size: x-large;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.middle{
    width: 40%;
    font-size: 24px;
    color:black;
    height: 98%;
}
.names-homepage{
    display: flex
}
.frankie-homepage{
    font-family: 'Reenie Beanie', cursive;
    font-size: 36px;
}
.aggs-homepage{
    font-family: 'Rock Salt', cursive;
    font-size: 18px;
}
.chloet-homepage{
    font-family: 'Romanesco', cursive;
    font-size: 24px;
}
.sophia-homepage{
    font-family: 'Secular One', sans-serif;
    font-size: 24px;
}
.lottie-homepage{
    font-family: 'Miniver', cursive;
    font-size: 24px;
}
.cheers-homepage{
    color: #FA02FF;
}
.right{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bios-homepage{
    font-family: 'Ribeye', cursive;
    margin-top:auto;
    margin-left: 0px;
    background-color: #FA02FF;
    color:#01FF1A;
    width:226px;
    height: 51px;
    font-size: x-large;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.gallery-homepage{
    font-family: 'Ribeye', cursive;
    margin:auto;
    background-color: #01FF1A;
    color:#FA02FF;
    width:226px;
    height: 51px;
    font-size: x-large;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.multimedia-homepage{
    font-family: 'Ribeye', cursive;
    margin-bottom: auto;
    background-color: #FA02FF;
    color:#01FF1A;
    width:226px;
    height: 51px;
    font-size: x-large;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
footer{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}